/* .midiPlayer {
    display: none
} */

/* .NextSong {
    display: none;
    visibility: hidden;
} */

h3 {
    color: rgb(23, 128, 0);
}

.testclass {
    color: yellow;
}

#super {
    display: none;
    visibility: hidden;
}

/* .DisplayMidiPlayer {
    
} */

.HiddenMidiPlayer {
    display: none;
    visibility: hidden;
}

.Hidden {
    display: none
}

/* .midiPlayer {
    display: none
} */