/* .midiPlayer {
    display: none
} */

.nextSong {
    display: none;
    visibility: hidden;
}

h3 {
    color: rgb(23, 128, 0);
}

.testclass {
    color: yellow;
}

#super {
    display: none;
    visibility: hidden;
}

.displayMidiPlayer {
    
}

.hiddenMidiPlayer {
    display: none;
    visibility: hidden;
}

.hidden {
    display: none
}

/* .midiPlayer {
    display: none
} */